﻿<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://static.vecteezy.com/system/resources/previews/005/962/900/large_2x/online-payment-concept-hands-holding-smartphone-and-using-credit-card-for-online-shopping-cartoon-style-for-your-design-free-vector.jpg" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Our founding</h2>
                <p class="lead fw-normal text-muted mb-0">
                    The above website provides all the information of all available carriers. Any customer can conveniently access the website and search for information and services about every carrier. The strength of this website is that it can recharge your phone quickly regardless of which carrier you use.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- About section two-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="~/Content/Images/about-chart.jpg" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Growth &amp; beyond</h2>
                <p class="lead fw-normal text-muted mb-0">
                    Nowadays, with the rapid and superior development of technology and the Internet, everything becomes simpler and easier. One of them is the introduction of an online payment system that helps users manage spending and finance more quickly.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Team members section-->
<section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="fw-bolder">Our team</h2>
            <p class="lead fw-normal text-muted mb-5">Dedicated to quality and your success</p>
        </div>
        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="~/Content/Images/anhlan.jpg" alt="..." />
                    <h5 class="fw-bolder">Lan Le Thi Anh</h5>
                    <div class="fst-italic text-muted">Member</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="~/Content/Images/anhlong.jpg" alt="..." />
                    <h5 class="fw-bolder">Long Truong Anh</h5>
                    <div class="fst-italic text-muted">Leader</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-sm-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="~/Content/Images/huunguyen.jpg" alt="..." />
                    <h5 class="fw-bolder">Nguyen Tran Huu</h5>
                    <div class="fst-italic text-muted">Member</div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="https://scontent.fhan14-1.fna.fbcdn.net/v/t1.30497-1/143086968_2856368904622192_1959732218791162458_n.png?_nc_cat=1&ccb=1-7&_nc_sid=7206a8&_nc_ohc=Lf3Opu8DnoYAX_9Ajts&_nc_ht=scontent.fhan14-1.fna&oh=00_AfA2bSl5A-HI9d9ZATvezzFCIXcw5x8vMOsJI8SiLT9NHg&oe=648812F8" alt="..." />
                    <h5 class="fw-bolder">Quang Cao Duy</h5>
                    <div class="fst-italic text-muted">Member</div>
                </div>
            </div>
        </div>
    </div>
</section>